* {
    margin:0;
    padding: 0;
}




.navegacion{
    background:salmon;
    color: #ffff;
    padding: 10px 30px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(rgba(5,10,5,0.80),rgba(90,40,0.80));
}

.navegacion:hover{
    background:rosybrown;
}

nav{
    background:black;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

@media (max-width:600px){
    nav{
        background:black;
        flex-direction: column;
    }
    .navegacion{
        margin: 10px 0;
    }

    }
